@model IEnumerable<DevTeamup.Models.Teamup>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
'
<div class="mine-title">
    <h2 >Teamups I'm Hosting</h2>
</div>
<hr />

<div class="teamups row">
    @foreach (var teamup in Model)
    {
        <div class="col-md-4 future-meatup-col-wrapper">
            <div class="future-meatups-col">
                <div class="future-meatups-photo">
                    <img src="@Url.Action("UserImages", "Home", new { id = teamup.OrganizerId })" alt="User image" width="100" height="100" />
                </div>
                <h3 class="future-meatups-organizer">
                    @teamup.Organizer.FirstName @teamup.Organizer.LastName
                </h3>
                <h4 class="future-meatups-development">
                    @teamup.DevelopmentType.Name
                </h4>
                <h4 class="future-meatups-language">
                    with @teamup.DevelopmentLanguage.Name
                </h4>
                <div class="future-meatups-date">
                    <span>@teamup.DateTime.ToString("MMMM")</span>
                    <span>@teamup.DateTime.ToString("d "),</span>
                    <span>@teamup.DateTime.ToString("yyyy")</span>
                </div>
                @if (teamup.IsCanceled)
                {
                    <span class="label label-warning pull-right">Cancelled</span>
                }
                <div class="action-buttons">
                    <span>
                        <a href="@Url.Action("Edit", "Teamups", new {id = teamup.Id})" class="edit">
                            Edit |
                        </a>

                    </span>
                    <span class="cancel">
                        <a href="#" class="js-cancel-teamup" data-teamup-id="@teamup.Id">
                            Cancel
                        </a>
                    </span>
                </div>

            </div>

        </div>      
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-cancel-teamup").click(function(e) {
                var eventSource = $(e.target);

                bootbox.dialog({
                    message: "Are you sure you want to cancel this teamup?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    url: "/api/teamups/" + eventSource.attr("data-teamup-id"),
                                        method: "DELETE"
                                    })
                                    .done(function () {
                                        eventSource.parents("li").fadeOut(function () {
                                            $(this).remove();
                                            toastr.success("The teamup has been Cancelled successfully.");
                                        });
                                    })
                                    .fail(function () {
                                        toastr.error("There was an error handling your request!");
                                    });
                            }
                        }
                    }
                });
               
            });

        });
       
    </script>
}
