@model IEnumerable<DevTeamup.Models.Teamup>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Teamups I'm Hosting</h3>
<hr />

<ul class="teamups row">
    @foreach (var teamup in Model)
    {
        <li class="col-md-3">
            <div class="date-And-detail">
                <div class="date">
                    <div class="month">
                        @teamup.DateTime.ToString("MMM")
                    </div>
                    <div class="day-and-year">
                        <div class="day">
                            @teamup.DateTime.ToString("d ")
                        </div>
                        <div class="year">
                            @teamup.DateTime.ToString("yyyy")
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="type">
                        @teamup.DevelopmentType.Name
                    </div>
                    <div class="language">
                        With @teamup.DevelopmentLanguage.Name

                    </div>
                    <div class="address">
                        @teamup.Address
                    </div>
                </div>
            </div>


            <div class="link-buttons">
                <span>
                    <a href="@Url.Action("Edit", "Teamups", new {id = teamup.Id})" class="edit">
                        Edit |
                    </a>

                </span>
                <span class="cancel">
                    <a href="#" class="js-cancel-teamup" data-teamup-id="@teamup.Id">
                        Cancel
                    </a>
                </span>
            </div>
        </li>
    }
</ul>

@section scripts
{
    <script>
        $(document).ready(function() {
            $(".js-cancel-teamup").click(function(e) {
                var eventSource = $(e.target);

                bootbox.dialog({
                    message: "Are you sure you want to cancel this teamup?",
                    title: "Confirm",
                    buttons: {
                        no: {
                            label: "No",
                            className: "btn-default",
                            callback: function () {
                                bootbox.hideAll();
                            }
                        },
                        yes: {
                            label: "Yes",
                            className: "btn-danger",
                            callback: function () {
                                $.ajax({
                                    url: "/api/teamups/" + eventSource.attr("data-teamup-id"),
                                        method: "DELETE"
                                    })
                                    .done(function () {
                                        eventSource.parents("li").fadeOut(function () {
                                            $(this).remove();
                                            toastr.success("The teamup has been Cancelled successfully.");
                                        });
                                    })
                                    .fail(function () {
                                        toastr.error("There was an error handling your request!");
                                    });
                            }
                        }
                    }
                });
               
            });

        });
       
    </script>
}
