@model DevTeamup.Models.ApplicationUser

@{
    ViewBag.Title = "User Profile";
}

<div class="row profile">
    <div class="col-md-3 image-container">
        <div class="image">
            <img src="@Url.Action("UserImages", "Home", new {id = Model.Id})" alt="User image" width="200" height="200"/>
        </div>
        <div class="fullname">
            @Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)
        </div>
    </div>
        
    <div class="col-md-9 profile-detail">
        <div class="title">
            <h2>Profile</h2>
        </div>
        <div>
            <p>
                <span>First Name:</span> @Html.DisplayFor(m => m.FirstName)
            </p>
            <p>
                <span>Last Name:</span> @Html.DisplayFor(m => m.LastName)
            </p>
            <p>
                <span>Email:</span> @Html.DisplayFor(m => m.Email)
            </p>
            <p>
                <span>User Name:</span> @Html.DisplayFor(m => m.UserName)
            </p>
            <p>
                <span>Interest:</span> @Html.DisplayFor(m => m.Interest)
            </p>
            <p>
                @Html.ActionLink("Change your password", "ChangePassword")
            </p>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
            </p>
        </div>
    </div>
</div>
