@using System.Web.Services.Description
@model DevTeamup.ViewModels.TeamupsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h3>@Model.Title</h3>
<hr />
@using (Html.BeginForm("Search", "Teamups"))
{
    <div class="form-group">
        <div id="search-teamps" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control", placeholder = "Search for organizer, language, type ..."})
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>   
}
<hr />

<ul class="teamups row">
    @foreach (var teamup in Model.FutureTeamups)
    {
        <li class="col-md-3">
            <div class="date-And-detail">
                <div class="date">
                    <div class="month">
                        @teamup.DateTime.ToString("MMM")
                    </div>
                    <div class="day-and-year">
                        <div class="day">
                            @teamup.DateTime.ToString("d ")
                        </div>
                        <div class="year">
                            @teamup.DateTime.ToString("yyyy")
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="type">
                        @teamup.DevelopmentType.Name
                    </div>
                    <div class="language">
                        With @teamup.DevelopmentLanguage.Name
                        @if (teamup.IsCanceled)
                        {
                            <span class="label label-warning pull-right">Cancelled</span>
                        }
                    </div>
                    <div class="organizer">
                        Organizer: @teamup.Organizer.FirstName @teamup.Organizer.LastName
                      
                    </div>
                </div>
            </div>

                <div class="link-buttons">
                        <a href="@Url.Action("Details", "Teamups", new { id = teamup.Id} )" class="detail-link pull-right">Details</a>
                </div>
            

        </li>
        }
</ul>

