@using System.Web.Services.Description
@model DevTeamup.ViewModels.TeamupsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h3 class="future-meatups-title">@Model.Title</h3>
<hr />
@using (Html.BeginForm("Search", "Teamups"))
{
    <div class="form-group">
        <div id="search-teamps" class="input-group">
            @Html.TextBoxFor(m => m.SearchTerm, new {@class = "form-control", placeholder = "Search for organizer, language, type ..."})
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
        </div>
    </div>   
}
<hr />

<div id="future-meatups row">
    @foreach (var teamup in Model.FutureTeamups)
    {
        <div class="col-md-4 future-meatup-col-wrapper">
            <div class="future-meatups-col">
                <div class="future-meatups-photo">
                    <img src="~/Images/user.png" alt="User image" width="100" height="100"/>  
                </div>              
                <h3 class="future-meatups-organizer">
                    @teamup.Organizer.FirstName @teamup.Organizer.LastName
                </h3>
                <h4 class="future-meatups-development">
                    @teamup.DevelopmentType.Name
                </h4>
                <h4 class="future-meatups-language">
                    with @teamup.DevelopmentLanguage.Name
                </h4>
                <div class="future-meatups-date">
                    <span>@teamup.DateTime.ToString("MMMM")</span>
                    <span>@teamup.DateTime.ToString("d "),</span>
                    <span>@teamup.DateTime.ToString("yyyy")</span>
                </div>
                @if (teamup.IsCanceled)
                {
                    <span class="label label-warning pull-right">Cancelled</span>
                }
                <div class="future-meaturps-details-buttons">
                    <a href="@Url.Action("Details", "Teamups", new {id = teamup.Id})">Details</a>
                </div>
               
            </div>
            
        </div>
    }
</div>

            @*<div class="date-And-detail">
                <div class="date">
                    <div class="month">
                        @teamup.DateTime.ToString("MMM")
                    </div>
                    <div class="day-and-year">
                        <div class="day">
                            @teamup.DateTime.ToString("d ")
                        </div>
                        <div class="year">
                            @teamup.DateTime.ToString("yyyy")
                        </div>
                    </div>
                </div>
                <div class="details">
                    <div class="type">
                        @teamup.DevelopmentType.Name
                    </div>
                    <div class="language">
                        With @teamup.DevelopmentLanguage.Name
                        @if (teamup.IsCanceled)
                        {
                            <span class="label label-warning pull-right">Cancelled</span>
                        }
                    </div>
                    <div class="organizer">
                        Organizer: @teamup.Organizer.FirstName @teamup.Organizer.LastName

                    </div>
                </div>
            </div>*@

            @*<div class="link-buttons">
                <a href="@Url.Action("Details", "Teamups", new {id = teamup.Id})" class="detail-link pull-right">Details</a>
            </div>*@


       

